html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background-color: #f6f6f6;
    font-family: 'Roboto Slab', serif;
}

body .bg {
    min-height: 100%;
    background-color: rgba(180, 79, 162, 1);
    background-image: url("assets/img/bg-mobile.svg");
    background-repeat: no-repeat;
    padding: 3rem 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.p1 {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.2;
}

.mainheading-container {
    font-size: 20px;
    text-align: center;
}

.offer-container {
    position: relative;
}

.price-container {
    background: linear-gradient(146deg, rgba(2, 0, 36, 1) 0%, rgba(252, 70, 107, 1) 0%, rgba(180, 79, 162, 1) 100%);
    width: 120px;
    height: 120px;
    border-radius: 75px;
    position: absolute;
    left: 170px;
}

.price-container p {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.productimg {
    height: 400px;
    margin: 0 auto;
}

.spec-icon {
    color: white;
    font-size: 25px;
    font-weight: bold;
    height: 40px;
    width: 40px;
    text-align: center;
    margin: 0 auto;
}

.spec-description {
    color: white;
    font-size: 12px;
    white-space: nowrap;
    margin: 5px;
}

.form-section {
    margin-top: 50px;
}

.form-section p {
    font-size: 14px;
}

.card {
    -webkit-box-shadow: 10px 10px 24px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 24px -18px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 24px -18px rgba(0, 0, 0, 0.75);
}

#time {
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700;
    color: rgba(180, 79, 162, 1);
}

.btn {
    -webkit-box-shadow: 10px 10px 24px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 24px -18px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 24px -18px rgba(0, 0, 0, 0.75);
    margin: 0 auto;
    width: 80%;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: bold
}

.btn:hover {
    background-color: rgba(180, 79, 162, 1);
}


@media (min-width: 768px) {
    body .bg {
        background-image: url("assets/img/gradient.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-color: #f6f6f6;
        background-size: 100vw;
    }

    .mainheading-container {
        margin-top: 1rem;
    }

    .price-container {
        font-size: 20px;
        left: 95px;
        width: 150px;
        height: 150px;
    }

    .price-container p {
        margin-top: 20px;
    }

    .productimg {
        height: 550px;
    }

    .spec-container {
        margin-top: 250px;
    }

    .form-section {
        margin-top: 0;
    }

    .btn {
        width: 60%;
    }
}

.title-specs {
    border-bottom: 2px solid rgba(252, 70, 107, 1);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}
