<template>
    <body id="page-top">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="d-none d-md-flex col-md-4 col-lg-4 bg-image"></div>
                <div class="col-md-6 col-lg-8">
                    <div class="login d-flex align-items-right py-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-lg-6 mx-auto">
                                    <div align="center">
                                        <img src="images/secure.png" width="120px">
                                        <img src="images/secure2.png" width="120px">
                                    </div>
                                    <br>

                                    <form>

                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </div>
                                            <input
                                                name="first_name"
                                                class="form-control"
                                                placeholder="First Name"
                                                type="text"
                                                v-model="first_name"
                                                required
                                            />
                                        </div>

                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </div>
                                            <input
                                                    name="last_name"
                                                    class="form-control"
                                                    placeholder="Last Name"
                                                    type="text"
                                                    v-model="last_name"
                                                    required
                                            />
                                        </div>


                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i
                                                        class="fa fa-envelope"
                                                    ></i
                                                ></span>
                                            </div>
                                            <input
                                                name="email"
                                                class="form-control"
                                                placeholder="Email Address"
                                                type="email"
                                                v-model="email"
                                                required
                                            />
                                        </div>


                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-phone"></i>
                                                </span>
                                            </div>

                                            <select
                                                class="custom-select"
                                                style="max-width: 120px"
                                            >
                                                <option selected="">+44</option>
                                            </select>
                                            <input
                                                name="phone"
                                                class="form-control"
                                                placeholder="Phone number"
                                                type="tel"
                                                v-model="phone"
                                                minLength="10"
                                                maxLength="11"
                                                required
                                            />
                                        </div>


                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-building"></i>
                                                </span>
                                            </div>
                                            <input
                                                name="address"
                                                class="form-control"
                                                placeholder="Address:"
                                                type="address"
                                                v-model="address"
                                                required
                                            />
                                        </div>


                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-building"></i>
                                                </span>
                                            </div>
                                            <input
                                                name="city"
                                                class="form-control"
                                                placeholder="City, Town:"
                                                type="text"
                                                v-model="city"
                                                required
                                            />
                                        </div>

                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i
                                                        class="fa fa-building"
                                                    ></i>
                                                </span>
                                            </div>
                                            <select
                                                    name="country"
                                                    class="form-control">
                                                    v-model="country"
                                                    required
                                                <option selected="">
                                                    Country
                                                </option>
                                                <option>United Kingdom</option>
                                                <option>Northern Ireland</option>
                                            </select>
                                        </div>

                                        <div class="form-group input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-building"></i>
                                                </span>
                                            </div>
                                            <input
                                                name="postcode"
                                                class="form-control"
                                                placeholder="Postcode:"
                                                type="postcode"
                                                minLength="5"
                                                maxLength="7"
                                                v-model="postcode"
                                                required
                                            />
                                        </div>

                                        <p class="divider-text">
                                            <span class="bg-light"
                                                >Continue with Payment
                                                Details</span
                                            >
                                        </p>

                                        <div class="form-group">
                                            <label for="card_name"
                                                >Card Holder Name</label
                                            >
                                            <input
                                                name="card_name"
                                                class="form-control"
                                                placeholder="Full Name:"
                                                type="text"
                                                v-model="card_name"
                                                required
                                            />
                                        </div>

                                        <div class="form-group">
                                            <label for="cardNumber"
                                                >Card number</label
                                            >
                                            <div class="input-group">
                                                <input
                                                    name="card_number"
                                                    class="form-control"
                                                    type="text"
                                                    placeholder="**** **** **** ****"
                                                    v-model="card_number"
                                                    minLength="11"
                                                    maxLength="11"
                                                    required
                                                />
                                                <div class="input-group-append">
                                                    <span
                                                        class="input-group-text text-muted"
                                                    >
                                                        <i
                                                            class="fab fa-cc-visa"
                                                        ></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <label
                                                        ><span class="hidden-xs"
                                                            >Expiration</span
                                                        >
                                                    </label>
                                                    <div class="input-group">
                                                        <input
                                                            type="tel"
                                                            class="form-control"
                                                            placeholder="MM"
                                                            name="expiry_month"
                                                            v-model="expiry_month"
                                                            minLength="2"
                                                            maxLength="2"
                                                            required
                                                        />
                                                        <input
                                                            type="tel"
                                                            class="form-control"
                                                            placeholder="YY"
                                                            name="expiry_year"
                                                            v-model="expiry_year"
                                                            minLength="2"
                                                            maxLength="2"
                                                            required
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>CVV</label>
                                                    <input
                                                        type="tel"
                                                        class="form-control"
                                                        name="cvv"
                                                        v-model="cvv"
                                                        minLength="3"
                                                        maxLength="4"
                                                        required
                                                    />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                                            <label class="form-check-label" for="defaultCheck1">
                                                I confirm that I am 18 years or older and i agree to the terms and conditions.
                                            </label>
                                        </div>
                                        <br/>

                                        <div class="form-group">
                                            <button
                                                type="submit"
                                                class="btn btn-primary btn-block"
                                            >
                                                <i
                                                    class="far fa-check-circle"
                                                ></i>
                                                PROCEED WITH PAYMENT
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</template>

<script>
export default {
    mounted() {
        console.log("Checkout Page mounted.");
    },
};
</script>
